.about-us {


    position: relative;
    font-size: 1.4rem;
    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-color {
    width: 500px;
}

.about-color>.title {

    font-style: italic;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.about-color>p {
    padding-top: 20px;
}


.title::after {
    content: "";
    display: block;
    height: 5px;
    /* толщина линии */
    background: black;
    width: 100%;
    position: absolute;
    bottom: -5px;
    /* отступ вниз от текста */
    left: 0;
}

.about-us>.imageParalax {
    position: relative;
    transition: transform 0.2s ease-out;
    width: 200px;
    transform: translateY(1000px);
}

.imageParalax img {
    position: absolute;
    width: 500px;


}

@media only screen and (max-width: 980px) {
    .about-us {



        width: 80%;
        height: 60vh;
        padding: 10%;

    }

    .about-us>.imageParalax {
        position: relative;
        transition: transform 0.2s ease-out;

        transform: translateY(-50px);
    }

    .imageParalax img {
        position: absolute;
        width: 250px;



    }
}

@media only screen and (max-width: 1000px) {
    .about-us {


        position: relative;
        font-size: 1.4rem;
        width: 80%;
        height: 120vh;

        display: block;
        justify-content: center;
        align-items: center;
    }

    .about-color {
        width: 70vh;
    }

    .imageParalax img {
        position: relative;
        width: 250px;
        right: -30vh;



    }

    .about-us>.imageParalax {
        position: relative;
        transition: transform 0.2s ease-out;

        transform: translateY(430px);
    }

}