.black {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.grid2{
    

    width: 70vh;
    height: 70vh;
}
.colorsArea{
    
    height: 100vh;
    width: 100%;
    display: flex;

}
.col{
    background-color: red;

    flex: 2;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid-main > h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 0.3s;
}
.grid-main > h2:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
