
.grid2{
    

    width: 70vh;
    height: 70vh;
}
.colorsArea{
    display: flex;
    height: 100vh;
    max-width: 300px;
    

}
.col{
    flex-grow: 1;
    height: 100%;
    
    
    color: white;
   
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.col > h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 0.3s;
}
.col > h2:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


@media (max-width: 680px) {
    .colorsArea{
        padding: 20px;
        
        display: block;
        
        height: 100vh;
        width: 300px;
        
        
    
    }
    .col{
       
        height: 20%;
        width: 100%;
        
        
        color: white;
       
     
    
       
        justify-content: space-around;
        align-items: center;
    
    }
}

